{% load static %}
<html>
    <head>
        <title>News</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" media="all">
		<link rel="stylesheet" href="{% static 'css/fonts.css' %}" media="all">
		
		
    </head>
	<body>
		<div id="menu" class="container">
			<ul>
				<li><a href="#" accesskey="1" title="">Сервисы</a></li>
				<li class="current_page_item"><a href="http://localhost:8000/" accesskey="1" title="">Домашняя страница</a></li>
				<li><a href="#" accesskey="2" title="">О Проекте</a></li>
			</ul>
		</div>
		<div id = "portfolio-wrapper">
			<div class="content container">
				<div class="row">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>