{% extends 'main/base.html' %}

{% block content %}
    <h1>Post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div>
        {% for field in form %}
        <div class="container">
            {{field.label_tag}}
            <div class="form_container">{{field}}</div>
            <div class="error">{{field.errors}}</div>
        </div>	
        {% endfor %}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
